<!DOCTYPE html>
<html>
  <head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">

   <script src='https://api.mapbox.com/mapbox-gl-js/v0.44.2/mapbox-gl.js'></script>
   <link href='https://api.mapbox.com/mapbox-gl-js/v0.44.2/mapbox-gl.css' rel='stylesheet' />

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  </head>
  <body>

    <nav>
      <div class="nav-wrapper ##009688 teal">
        <a href="/" class="brand-logo center ">Ship Happens ¯\_(ツ)_/¯ </a>
      </div>
    </nav>

  <div id='map' style='position: absolute; min-width: 100%; min-height: 100%;'></div>
<script>
mapboxgl.accessToken = 'pk.eyJ1IjoiY29uaGFpbmluZyIsImEiOiJjamZ6bXJ6OWYxMXU4MnFtbjc4cnN2ZHB1In0.lC-NiZslipvUrABa_DVYBw';
var map = new mapboxgl.Map({
  container: 'map',
  style: 'mapbox://styles/mapbox/streets-v10',
  zoom: 5
});

map.on('load', function () {
    // console.log("hello");
    $.get("http://localhost:3000/api/vessel/name/<%= ship.vessel.Name %>", function( data ) {

      var maxLat = 1000;
      var minLat = -1000;
      var maxLong = 1000;
      var minLong = -1000;

      for (var i = 0; i < data.coordinates.length; i++) {

        if (minLat < data.coordinates[i][0]) {
          minLat = data.coordinates[i][0];
        }

        if (maxLat > data.coordinates[i][0]) {
          maxLat = data.coordinates[i][0];
        }

        if (minLong < data.coordinates[i][1]) {
          minLong = data.coordinates[i][1];
        }

        if (maxLong > data.coordinates[i][1]) {
          maxLong = data.coordinates[i][1];
        }

      }

      var center = [
        ((maxLat - minLat) / 2) + minLat - 1.5,
        ((maxLong - minLong) / 2) + minLong
      ];

      // console.log(minLat);
      // console.log(maxLat);
      // console.log(minLong);
      // console.log(maxLong);
      // console.log(center);

      map.flyTo({center: center});

      map.addLayer({
        "id": "route",
        "type": "line",
        "source": {
          "type": "geojson",
          "data": {
            "type": "Feature",
            "properties": {},
            "geometry": {
              "type": "LineString",
              "coordinates": data.coordinates
            }
          }
        },
        "layout": {
          "line-join": "round",
          "line-cap": "round"
        },
        "paint": {
          "line-color": "#888",
          "line-width": 1
        }
      });

    });

});
</script>

  <div class="row">
    <div class="col s4">
      <div class="card">
        <div class="card-image">
          <img src="https://www.fincantieri.com/globalassets/common/grid/other-boxes/02.prodotti-e-servizi/navi-da-crociera/armatori-brandwall-oceania-cruises.jpg">
          <span class="card-title"><%= ship.vessel.Name %></span>
        </div>
        <div class="card-content">
          <ul>
            <li><strong>Callsign: </strong><%= ship.vessel.CallSign %></li>
            <li><strong>Length: </strong><%= ship.vessel.length %>m</li>
            <li><strong>Width: </strong><%= ship.vessel.width %>m</li>
            <li><strong>MMSI: </strong><%= ship.vessel.MMSI %></li>
          </ul>
        </div>
      </div>ship
    </div>
  </div>

  <!-- Compiled and minified JavaScript -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
  </body>
</html>
